/phpunit.cache

/vendor/
/node_modules/
/public/build

/.env
/.env.*
!/.env.example

/storage/*.key
/storage/app/*
!/storage/app/public
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*.log
!/storage/logs/.gitkeep

/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep

*.sql
*.sql.gz
database/*.sql
!/database/sql/
!/database/sql/*.sql
*.zip
*.tar
*.tar.gz

backups/
backup/
dump/
dumps/

Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
